@{
    ViewBag.Title = "Home Page";
}

<section class="section alt" id="promo">
    <div class="container">
        <div class="carousel slide" id="myCarousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item" style="height: 325px;">
                    <div class="row-fluid">
                        <div class="hero-unit pull-center">
                            <div class="container">
                                <img src="/images/Anderson-Aire-LOGO.gif" alt="Anderson Aire Heating, Cooling, and Refrigeration" />
                                <h2><i class="icon-phone" style="margin-right: 10px;"></i>218.821.3109</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="height: 325px;">
                    <div class="row-fluid">
                        <div class="hero-unit pull-center">
                            <h1>Trouble with your furnace?</h1>
                            <p>Call us today, we'll be there today!<br /><h2><i class="icon-phone" style="margin-right: 10px;"></i>218.821.3109</h2></p>
                        </div>
                       
                    </div>
                </div>
                <div class="item" style="height: 325px;">
                    <div class="row-fluid">
                        <div class="hero-unit pull-center">
                            <div class="container">
                                <img src="/images/Anderson-Aire-LOGO.gif" alt="Anderson Aire Heating, Cooling, and Refrigeration" />
                                <h2><i class="icon-phone" style="margin-right: 10px;"></i>218.821.3109</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="height: 325px;">
                    <div class="row-fluid">
                        <div class="hero-unit pull-center">
                            <h1>Air conditioner giving you trouble?</h1>
                            <p>Fast, friendly service at a reasonable price!<br /><h2><i class="icon-phone" style="margin-right: 10px;"></i>218.821.3109</h2></p>
                        </div>
                        @*<div class="span5">
                                <img alt="imac" class="pull-right" src="images/assets/iphone.png" />
                            </div>*@
                    </div>
                </div>
                <div class="item" style="height: 325px;">
                    <div class="row-fluid">
                        <div class="hero-unit pull-center">
                            <div class="container">
                                <img src="/images/Anderson-Aire-LOGO.gif" alt="Anderson Aire Heating, Cooling, and Refrigeration" />
                                <h2><i class="icon-phone" style="margin-right: 10px;"></i>218.821.3109</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="height: 325px;">
                    <div class="row-fluid">
                        <div class="hero-unit pull-center">
                            <h1>Do you have refrigeration issues?</h1>
                            <p>We can help you with that!<br /><h2><i class="icon-phone" style="margin-right: 10px;"></i>218.821.3109</h2></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" data-slide="prev" href="#myCarousel">&lsaquo;</a>
            <a class="carousel-control right" data-slide="next" href="#myCarousel">&rsaquo;</a>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="page-header">
            <h1>
                Who are we?
                <small>Proudly serving the greater Brainerd / Baxter MN area</small>
            </h1>
        </div>
        <ul class="thumbnails bordered thumbnail-list">
            <li class="span5">
                <img alt="Brainerd, MN" src="/images/serving-area.jpg" style="opacity: .7;"/>
            </li>
            <li class="span6">
                    <p>We are a heating, ventilation, and air conditioning service company located in Brainerd, MN. We provide fast, friendly customer service. </p>
                    <p>In most cases, we can provide same-day service to address your important HVAC problems.</p>
                    <p>
                    We service all brands. Our services include:<br/>
                    &bull; Heating maintenance and repair<br/>
                    &bull; Air conditioning maintenance and repair<br/>
                    &bull; Light commercial refrigeration maintenance and repair<br/>
                    &bull; Furnace changeouts<br />
                    &bull; Ductless mini split A/C installs<br />
                    &bull; A/C add ons and changeouts<br />
                    &bull; Fuel oil service<br />
                <p>Call us today: 218.821.3109</p>
                <p>Our regular business hours are Monday thru Friday 7am-5pm.</p>
                <p>We have some of the best rates around.</p>
                <p>24-hour emergency service.</p>
            </li>
        </ul>        
    </div>
</section>
<section class="section alt">
    <div class="container">
        <div class="page-header">
            <h1>
                What do we do?
                <small>Proudly serving the greater Brainerd / Baxter MN area</small>
            </h1>
        </div>
        <ul class="thumbnails bordered thumbnail-list">
            <li class="span4">
                <figure class="thumbnail-figure">
                    <img alt="" src="/images/heating.jpg?v=2" />
                    <figcaption class="thumbnail-title">
                        <h3>
                            <span>Heating</span>
                        </h3>
                        <p>
                            <span>Furnace service and repair</span>
                        </p>
                    </figcaption>
                </figure>
                <p>
                    A heating system is crucial for your home in a Minnesota winter. We provide same-day service for heating maintenance and repairs.
                </p>
                <p>Specializing in all brands of furnaces, boilers and water heaters. Including fuel oil, natural gas and propane.</p>
            </li>
            <li class="span4">
                <figure class="thumbnail-figure">
                    <img alt="" src="/images/air-conditioning.jpg" />
                    <figcaption class="thumbnail-title">
                        <h3>
                            <span>Air Conditioning</span>
                        </h3>
                        <p>
                            <span>Air conditioning service and repair</span>
                        </p>
                    </figcaption>
                </figure>
                <p>
                    Your air conditioning system needs to provide comfort on hot summer days. We provide same-day service to ensure that your air conditioning system is functioning efficiently and keeping you cool on those hot summer days.
                </p>
                <p>
                    Specializing in all brands of air conditioners and air source heat pumps.
                </p>
            </li>
            <li class="span4">
                <figure class="thumbnail-figure">
                    <img alt="" src="/images/refrigeration.jpg?v=2" />
                    <figcaption class="thumbnail-title">
                        <h3>
                            <span>Refrigeration</span>
                        </h3>
                        <p>
                            <span>Refrigeration service and repair</span>
                        </p>
                    </figcaption>
                </figure>
                <p>
                    It can be very frustrating when your refrigeration unit breaks down. No worries, at Anderson Aire we specialize in refrigeration service and repair.
                </p>
                <p>We service light commercial refrigeration. Including ice makers, stand-alone single door, double door and walk-in refrigerators and freezers.</p>
            </li>
        </ul>
    </div>
</section>